.header-container {
  background-color: black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .header-text {
  color: white;
  font-size: 5vh;
}