.header-container {
  background-color: black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .header-text {
  color: white;
  font-size: 5vh;
}

.section-container {
  width: 90%;
  margin: auto;
}

.section-header {
  border-bottom: 1px solid #e6e6e6;
  margin-top: 40px;
}

.upload-form-wrapper {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.upload-button {
  width: 300px;
}

.dropzone-box {
  cursor: pointer;
  height: 200px;
  border: 2px dotted #cce6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

.upload-icon {
  font-size: 40px;
  color: #66b3ff;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}